repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        args: ["--fix=auto"] # replace 'auto' with 'lf' to enforce Linux/Mac line endings or 'crlf' for Windows

-   repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.80
    hooks:
    -   id: terraform_fmt
        args: ['--args=-write=true']
    -   id: terraform_tflint
